In [11]:
equipos = ['Aurora', 'Bolivar', 'U de vinto', 'Wilsterman', 'Oriente Petrolero', 'The Strongers', 'Blooming']
print(equipos)

for equipo in equipos:
    print(f"Nombre de equipo: {equipo}")

['Aurora', 'Bolivar', 'U de vinto', 'Wilsterman', 'Oriente Petrolero', 'The Strongers', 'Blooming']
Nombre de equipo: Aurora
Nombre de equipo: Bolivar
Nombre de equipo: U de vinto
Nombre de equipo: Wilsterman
Nombre de equipo: Oriente Petrolero
Nombre de equipo: The Strongers
Nombre de equipo: Blooming

In [12]:
for valor in range(10):
    print(valor)

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range(1,20):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [14]:
for i in range(1,100,3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97